/* Color pallete:
#3B8BEB
#B23850
#E7E3D4
#C4DBF6
#8590AA */


.navbar {
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.course--card {
	 display: flex;
	 flex-direction: column;
	 width: 18.5em;
	 height: 20em;
	 overflow: hidden;
   border: 2px solid black;
	 text-decoration: none;
	 background: #E7E3D4;
	 margin: 1em;
	 padding: 2.75em 2em;
	 box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, .1);
	 transition: transform 0.45s ease, background 0.45s ease;
}

.course--card h3 {
	 color: #2e3c40;
	 font-size: 1.8em;
	 font-weight: 600;
	 line-height: 1;
	 padding-bottom: 0.5em;
	 margin: 0 0 0.142857143em;
	 border-bottom: 2px solid #3B8BEB;
	 transition: color 0.45s ease, border 0.45s ease;
}


.course--card h4 {
	 color: #627084;
	 text-transform: uppercase;
	 font-size: 1em;
	 font-weight: 700;
	 line-height: 1;
	 letter-spacing: 0.1em;
	 margin: 0 0 1.777777778em;
	 transition: color 0.45s ease;
}

.course--card p {
	 opacity: 0;
	 color: #fff;
	 font-weight: 600;
	 line-height: 1.8;
	 margin: 0 0 1.25em;
	 transform: translateY(-1em);
	 transition: opacity 0.45s ease, transform 0.5s ease;
}

.course--card .link-text {
	 display: block;
	 color: #3B8BEB;
	 font-size: 1.125em;
	 font-weight: 600;
	 line-height: 1.2;
	 margin: auto 0 0;
	 transition: color 0.45s ease;
}

.course--card .link-text svg {
	 margin-left: 0.5em;
	 transition: transform 0.6s ease;
}
.course--card .link-text svg path {
	 transition: fill 0.45s ease;
}
.course--card:hover {
	 background: #3B8BEB;
	 transform: scale(1.02);
}
.course--card:hover h3 {
	 color: #fff;
	 border-bottom-color: white;
}
.course--card:hover h4 {
	 color: #fff;
}
.course--card:hover p {
	 opacity: 1;
	 transform: none;
}
.course--card:hover .link-text {
	 color: #B23850;
}
.course--card:hover .link-text svg {
	 animation: point 1.25s infinite alternate;
}
.course--card:hover .link-text svg path {
	 fill: #B23850;
}
@keyframes point {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translateX(0.125em);
	}
}


.form--container{
  margin: auto;
  max-width: 700px;
  width: 100%;
  background-color: #E7E3D4;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.form--container, .form--container--login .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.register--content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.form--container form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box textarea {
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  padding: 10px 20px;
}

.user-details .input-box textarea:focus,
.user-details .input-box textarea:valid{
  border-color: #9b59b6;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}

.register--button{
  margin-top: 20px;
   height: 50px;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #000;
   background-color: #8590AA;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 280ms ease-in-out;
 }

 @media(max-width: 584px){
 .form--container{
  max-width: 100%;
}
.form--container form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .form--container .content .category{
    flex-direction: column;
  }
}

.register--button:hover,
.register--button:active {
  background-color: #3B8BEB;
  color: white;
  letter-spacing: 3px;
}

.form--container--login{
  margin: auto;
  max-width: 350px;
  width: 100%;
  background-color: #E7E3D4;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.form--container--login .user-details{
  display: flex;
  flex-direction: column;
  margin: 20px 0 12px 0;
}

.form--container--login .user-details .input-box{
  margin-bottom: 15px;
}
.form--container--login .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.form--container--login .user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}


.sidebar {
  width: 300px;
  height: 93vh;
  left: 0;
  margin-top: 0px;
  float: left;
  margin-right: 20px;
  overflow: scroll;
  background-color: #F2F2F2;
}

.sidebar ul{
  padding: 0;
  margin: 0;
  list-style: none;

}
.sidebar ul li {
  line-height: 60px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 5px solid transparent;
}

.sidebar ul li a:hover {
    color: blue;
    background: #E6D9C8;
    border-left-color: blue;
}

.sidebar ul ul {
    position: static;
    /* display: none;  */
}

.sidebar ul ul li{
  line-height: 42px;
  border-bottom: none;
}

.sidebar ul ul li a{
  font-size: 17px;
  padding-left: 50px;
}

.stars {
  margin-top: -10px;
  margin-bottom: 10px;
}
.stars input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.stars label {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 2px;
  height: 30px;
  width: 30px;
  background: url("data:image/svg+xml;
  charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='transparent' stroke='slategray' stroke-width='38' d='M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  font-size: 0;
  cursor: pointer;
}
.stars input:nth-child(1):checked ~ label:nth-of-type(-n + 1), .stars input:nth-child(2):checked ~ label:nth-of-type(-n + 2), .stars input:nth-child(3):checked ~ label:nth-of-type(-n + 3), .stars input:nth-child(4):checked ~ label:nth-of-type(-n + 4), .stars input:nth-child(5):checked ~ label:nth-of-type(-n + 5) {
  background: url("data:image/svg+xml;
 charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='slategray' stroke='slategray' stroke-width='38' d='M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

  
.search--and--sort{
  display: flex;
}

.sort--filter{
  /* vertically align center */
  align-items: center;
  display: flex;
}

.sort--filter > button {
  margin-left: 20px;
  height: 40px;
  border: 2px solid black;
  background-color: white;
  padding: 0px 10px;
}

.sort--active{
  background-color: #536bf6 !important;
  
}

.search--bar--filter{
    width: 300px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    border: 2px solid black;
}

.banner {
  width: 100%;
  padding:30px 0;
  text-align: center;
  border: 2px solid black;
}


.create--course--title{
  text-align: center;
  margin: 20px;
}

.upload--course--container {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #B23850;
}

.uploaded--course--list{
  list-style: none;
  display: inline;
}

.uploaded--course--list li{
  margin-left: 20px;
}

.upload--course--title{
  padding: 10px;
  padding-left: 20px;
  border-bottom: 2px solid #B23850;
  display: flex;
}

.course--information {
  margin: 40px;
}


.add--week--button{
  float: right;
  margin-right:10%;
}